@model IEnumerable<MainChapar.Models.PrintRequest>
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد اصلی</title>
    <link rel="stylesheet" href="/assets/category/styles - printReq.css">
</head>
<body>

    <div class="category-container">

        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>انتشارات دانشگاه</h2>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="index" class="active"> صفحه اصلی فروشگاه</a></li>
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="index" class="active"> داشبورد اصلی</a></li>
                    <li><a asp-area="Admin" asp-controller="PrintRequests" asp-action="index" class="active"> درخواست های ثبت شده</a></li>
                    <li><a asp-area="Admin" asp-controller="order" asp-action="index" class="active"> مدیت سفارشات</a></li>
                </ul>
            </nav>
        </aside>



        <main class="main-content">
            <div class="top-table">
                <h1>درخواست‌های چاپ</h1>
            </div>
            <section class="stats-cards">
                <div class="stat-card" id="card-0">
                    <span class="stat-value">@ViewBag.totalPrintServices</span>
                    <span class="stat-label">درخواست های ثبت شده</span>
                </div>
                <div class="stat-card" id="card-1">
                    <span class="stat-value">@ViewBag.RejectedServices </span>
                    <span class="stat-label">درخواست های رد شده</span>
                </div>
                <div class="stat-card" id="card-2">
                    <span class="stat-value">@ViewBag.completedPrintServices</span>
                    <span class="stat-label">درخواست های انجام شده</span>
                </div>
            </section>

            <div id="taskList">
                <table>
                    <thead>
                        <tr>
                            <th>کاربر</th>
                            <th>نوع سرویس</th>
                            <th>وضعیت</th>
                            <th>تاریخ</th>
                            <th>تغییرات</th>
                        </tr>
                    </thead>
                    <tbody id="taskItems">
                      
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.User?.UserName</td>
                                <td>
                                    @{
                                        switch (@item.ServiceType)
                                        {
                                            case "BlackWhite":
                                                <p>سیاه و سفید</p>
                                                break;
                                            case "Color":
                                                <p>رنگی</p>
                                                break;
                                            case "Plan":
                                                <p>پلان</p>
                                                break;
                                            case "Laminate":
                                                <p>لمینیت و پرس</p>
                                                break;
                                            default:
                                                break;
                                        }

                                    }
                                </td>
                                <td>
                                    <span class="badge
                                        @(item.Status == "Approved" ? "bg-success" :
                                         item.Status == "Rejected" ? "bg-danger" :
                                         item.Status == "Processing" ? "bg-warning text-dark" :
                                         item.Status == "Completed" ? "bg-primary" :
                                         item.Status == "Submitted" ? "bg-info text-dark" :
                                         "bg-secondary")">
                                        
                                        @item.Status.ToFarsiStatus()
                                    </span>
                                   @*  @StatusExtensions.ToFarsiStatus(item.Status) *@
                                </td>
                                <td>@item.CreatedAt.ToShortDateString()</td>
                                <td class="actions">
                                    <a asp-action="Details" asp-route-id="@item.Id" ><button class="edit-btn">جزئیات</button></a>

                                    @if (item.Status == "Submitted")
                                    {
                                        <form asp-action="UpdateStatus" method="post" asp-route-id="@item.Id" >
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="status" value="Approved" />
                                            <button type="submit" class="info-btn">تایید</button>
                                        </form>

                                        <form asp-action="UpdateStatus" method="post" asp-route-id="@item.Id">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="status" value="Rejected" />
                                            <button type="submit" class="delete-btn">رد</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>



        </main>

    </div>

</body>
</html>
