@model MainChapar.ViewModel.UserOrdersViewModel
@using MainChapar.Helpers

@{
    ViewData["Title"] = "وضعیت سفارشات من";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning text-center" role="alert">
        @TempData["Error"]
    </div>
}
@{
    Layout = "~/Views/Shared/_newLayout1.cshtml";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/Order status/styles.css">
    <title>وضعیت سفارش</title>

</head>
<br/>
<br/>
<div id="top-container">
    <a id="back" href="/Home/index">بازگشت</a>
    <h1 class="section-title">وضعیت سفارشات من</h1>
</div>

<div class="status-container">
    @foreach (var printRequest in Model.PrintRequests)
    {
        <div class="boxs">
            <p id="title">
                @{
                    switch (printRequest.ServiceType)
                    {
                        case "Color":
                            @:درخواست چاپ رنگی
                            break;
                        case "BlackWhite":
                            @:درخواست چاپ سیاه و سفید
                            break;
                        case "Plan":
                            @:درخواست چاپ پلان
                            break;
                        default:
                            @:درخواست چاپ
                            break;
                    }
                }
            </p>

            @if (printRequest.ServiceType == "BlackWhite" && printRequest.BlackWhitePrintDetail != null)
            {
                <div class="fields" id="num-pages">
                    <p class="num-pages-key">تعداد صفحات :</p>
                    <p class="num-pages-value">@printRequest.BlackWhitePrintDetail.CopyCount</p>
                </div>
                <div class="fields" id="paper-type">
                    <p class="paper-type-key">نوع کاغذ :</p>
                    <p class="paper-type-value">@printRequest.BlackWhitePrintDetail.PaperType</p>
                </div>
            }
            else if (printRequest.ServiceType == "Color" && printRequest.ColorPrintDetail != null)
            {
                <div class="fields" id="num-pages">
                    <p class="num-pages-key">تعداد صفحات :</p>
                    <p class="num-pages-value">@printRequest.ColorPrintDetail.CopyCount</p>
                </div>
                <div class="fields" id="paper-type">
                    <p class="paper-type-key">نوع کاغذ :</p>
                    <p class="paper-type-value">@printRequest.ColorPrintDetail.PaperType</p>
                </div>
            }
            else if (printRequest.ServiceType == "Plan" && printRequest.PlanPrintDetail != null)
            {
                <div class="fields" id="paper-type">
                    <p class="paper-type-key">نوع کاغذ :</p>
                    <p class="paper-type-value">@printRequest.PlanPrintDetail.PaperType</p>
                </div>
            }

            <div class="fields" id="date">
                <p class="date-key">تاریخ ثبت :</p>
                <p class="date-value">@printRequest.CreatedAt.ToString("yyyy/MM/dd")</p>
            </div>

            <div class="fields" id="status">
                <p class="status-key">وضعیت سفارش :</p>
                <p class="status-value">
                    @StatusExtensions.ToFarsiStatus(printRequest.Status)
                </p>
            </div>
            <div class="fields">
                @if (printRequest.Status == "Completed")
                {
                    <a asp-controller="Cart" asp-action="Success" asp-route-id="@printRequest.Id">دریافت کد</a>
                }
            </div>
           
        </div>
    }
</div>

