@model MainChapar.ViewModel.Print.PlanPrintSummaryViewModel
@{
    Layout = "~/Views/Shared/_newLayout1.cshtml";
}
@if (TempData["FormErrors"] != null)
{
    <div class="alert alert-danger" style="white-space: pre-line;">
        <strong>خطاهای اعتبارسنجی:</strong><br />
        @Html.Raw(TempData["FormErrors"].ToString())
    </div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/final_print/styles.css">
    <title>BWprintform</title>
</head>
<body>

    <!-- start container khadamat chap -->
    <h2>جمع بندی نهایی سفارش</h2>
    <div class="form-container">

        <div class="form-grid">
            <div class="items">
                <p>نوع پرینت :</p>
                <p>@Model.printType</p>
            </div
            <div class="items">
                <p>تعداد :</p>
                <p>@Model.CopyCount</p>
            </div>
            <div class="items">
                <p>صحافی :</p>
                <p>@Model.BindingType</p>
            </div>
            <div class="items">
            <p>توضیحات  :</p>
            <p>@Model.SizeOrScaleDescription</p>
            </div>

        </div>
        


        <div class="form-button">


            <form asp-action="AddToCartPlanFromPrint" method="post">
                <button class="add-item" type="submit">تایید و ثبت سفارش</button>
                <a asp-action="PlanPrintForm"><button class="back">بازگشت</button></a>
            </form>

        </div>


        <!--end container -->
    </div>




    <!-- khadamat -->

    <div class="khadamat">
        <h2>خدمات مشابه</h2>
        <div class="khadamat-boxs">
            <div class="boxs" id="box1">

                <img src="files/print3.png">
                <p>چاپ سیاه سفید</p>

            </div>
            <div class="boxs" id="box2">

                <img src="files/print1.png">
                <p>چاپ پلان</p>
            </div>
            <div class="boxs" id="box3">

                <img src="files/print2.png">
                <p>چاپ ایکس</p>
            </div>


        </div>

</body>
</html>